header
{
	font-size: large;
	text-align: center;
}

main
{
	font-size: medium;
	text-align: center;
}

footer
{
	font-size: small;
	text-align: center;
}

#data
{
	border: 4px solid blue;
}

#minha_lista
{	
	max-width: 10%;
	margin: auto;
	text-align: left;
}